@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/pexels-karolina-grabowska-7195369.jpg");
    background-size: cover;
}

.AgendarHora {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/pexels-karolina-grabowska-7195369.jpg");
    background-size: cover;
}




.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #14d8ea;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #00dffc;
}


header .navigation {
    position: relative;
    display: flex;
    margin: 0;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #14d8ea;
}
section {
    padding: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("img/pexels-karolina-grabowska-7195369.jpg");
    background-size: cover;
  }

  form {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    width: 130%;
    margin-top: 30%
  }
  textarea {
    resize: vertical;
    min-height: 100px; /* Cambia este valor para ajustar el tamaño por defecto */
  }

  label, input[type="submit"] {
    display: block;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: lightblue;
    border: 2px solid #000;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: blue;
  }

  input[type="submit"]:active {
    background-color: darkblue;
  }
  #calendar {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
  }