@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #00dffc;
}


label.error {
    color: darkred;
}

input.error,
select,
textarea {

    border: 1px solid red;


}

header .navigation {
    position: relative;
    display: flex;
    margin: 0;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #14d8ea;
}

body {
    margin: 0;
    padding: 0;
}

.menu_lateral {
    background-color: #f2f2f2;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-top: 10%;
    left: 0;
    top: 0;
}

.menu_lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu_lateral li {
    padding: 10px;
}

.menu_lateral li a {
    text-decoration: none;
    color: #333;
    /*color de letras*/
    display: block;
    border: 3px solid black;
    /*Borde*/
    padding: 10px;
    /*separacion de los botones*/
    background-color: #6BB2A2;
}

.menu_lateral li a:hover {
    background-color: #333;
    color: white;

}


.tabla-formato{
    border-bottom: 1px solid;

}
.tabla-formato th{
    background-color: #838383;
    padding: 8px;
    border-bottom: 1px solid #000000;
}
  .tabla-formato td {
    background-color: #cfcfcf;
    padding: 8px;
    border-bottom: 1px solid #000000;
  }
.table_container {
    max-height: 600px;
    max-width: 90%;
    overflow-y: auto;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 2%;
}




.table-scroll {
    overflow: auto;
    max-height: 100%;
}
#horas-agendadas{
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 1%;
}
#tabla{
    margin-left: 20%;
}