@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/pexels-karolina-grabowska-7195369.jpg");
    background-size: cover;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #00dffc;
}


label.error{
    color: darkred;
}

input.error,select,textarea{
 
    border:1px solid red;
    
  
  }
header .navigation {
    position: relative;
    display: flex;
    margin: 0;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #14d8ea;
}

.menu_lateral {
  background-color: #f2f2f2;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-top: 10%;
  left: 0;
  top: 0;
}

.menu_lateral ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_lateral li {
  padding: 10px;
}

.menu_lateral li a {
  text-decoration: none;
  color: #333;
  /*color de letras*/
  display: block;
  border: 3px solid black;
  /*Borde*/
  padding: 10px;
  /*separacion de los botones*/
  background-color: #6BB2A2;
}

.menu_lateral li a:hover {
  background-color: #333;
  color: white;

}






body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .card {
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .register-section {
    padding: 20px;
    text-align: center;
  }
  
  .register-section h2 {
    margin-top: 0;
  }
  
  .register-section input[type="text"],
  .register-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .register-section button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-section button:hover {
    background-color: #45a049;
  }
  .register-section .input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;}